Официальный гид по pandas https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html

Импортируйте датасет с информацией о пассажирах Титаника.

Используйте метод head(n=5), возвращающий первые n строк датафрейма

Получите имена колонок

Получите строки таблицы с 4 по 6

Получить пол пассажиров для строк с первой по седьмую. Используем loc

Получение не только пол, но и возраст пассажиров с необходимыми номерами

Получить используя iloc первые два столбца первых десяти строк

Получим первые пять имен пассажиров нашей таблицы

выведем пять первых женщин пассажиров

Получим датафрейм, содержащий первые пять мужчин или женщин старше 50 лет

Переименуем колонку Name в name. В параметр columns передаем словарь, в котором указываются пары старое_имя:новое_имя колонок. Параметр inplace=True заставляет Pandas менять текущий датафрейм, а не создавать новый

Получим фамилии всех людей из колонки name. Для этого напишем пользовательскую функцию для получения фамилии из строки с полным именем

Чтобы применить ее ко всем элементам датафрейма, используется метод apply(), в которую передается объект функции. Результат сохранить в переменной last_names

Добавим в наш датафрейм столбец фамилий, которые мы сохранили в переменной last_names

Для получения пустых строк используется метод isnull(), а для получения непустых строк – метод notnull().

In [1]:
# первые пять пустых ячеек столбца Cabin

# первые пять непустых ячеек столбца Cabin

Для датасета с информацией о пассажирах Титаника построить статистику с распределением возрастов по трем группам: младше 30, от 30 до 55, старше 55 - в итоге должна быть построена круговая диаграмма (можно столбчатую)

После окончания работы с датафремом, его можно сохранить в файлы различных форматов. Например, для сохранения в csv формат используется метод to_csv()